
body {
  font-family: Verdana;
}



/****************************************************************************
Styles for the Structural Blocks
****************************************************************************/

#page_wrapper {
  width:auto;
  margin:auto;
}

#header {
  text-align: center;
  padding: 5px;
  color: #e54e55;
  background-color: #36393f;
}

#header h2 { color: #ffa42a; }

#content {
  min-height:500px;
  display: block;
  background-color: #FFF;
  padding: 13px;
  text-align: center;
}

#footer {
  display: block;
  background-color: #36393f;
  text-align: center;
  padding: 13px;
  column-count: 2;
  color: #c0ceff;
  bottom: 0;
}
#footer a{ color: #c0ceff;}

div.leftCol {
    text-align: left;
    padding: 0 0px 0 7px;
}
div.rightCol {
    text-align: right;
    padding: 0 7px 0 0px;
}
div.centerCol {
    text-align: center;
}


/****************************************************************************
Styles for the Nav Bar
****************************************************************************/
div.inlineB{
    position: relative;
    display: inline-block;
}


div.navbar {
  text-align: center;
  display: block;
  width: 100%;
  background: #c2c4d0;
  justify-content: center;
  font-size: 19px;
  color: #143888;

}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0px;
  padding: 0;
}

.navbar a {
  display: block;
  padding: 11px 19px 11px 19px;
  color: #36393f;
}

.navbar a:hover {
  background-color: #8baaee;
  color: #1a1664;
}

.navbar .active {
  color: #1a1664;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
    background-color: #c0ceff;
}

table th, tr, td {
    border: 1px solid black;
    padding: 3px;
}

table td {
    text-align: left;
    padding-left: 6px;
}

table th {
    background-color: #ffa42a;
}

.even_row_css {
   background-color:#EEE;
   font-size:10pt;
}
.odd_row_css {
   background-color:#DDD;
   font-size:10pt;
}
.highlight_css {
   background-color:#DDF;
   font-size:10pt;
}

.form-group #passwordChecker {
    width: 200px;
    height: 22px;
    margin-top: 0.2rem;
    padding: 0 0 0 2px;
    position: relative;
    letter-spacing: 1px;
    background: transparent;
    border: 2px inset #a0a0a0;
}

.passTypeToggle {
    top: 50%;
    right: 4%;
    display: none;
    cursor: pointer;
    position: absolute;
    transform: translate(10%, -50%);
}

.form-group::before {
  left: 0;
  top: 50%;
  z-index: 1;
  padding: 0 4px;
  user-select: none;
  color: #ccccccbd;
  position: absolute;
  pointer-events: none;
  content: attr(data-placeholder);
  transform: translate(15%, -50%);
  transition: transform .2s ease-in-out;
}

.form-group.focus::before {
    background: #191919;
    transform: translate(15%, -130%);
}

.form-group #passwordChecker:focus label {
  color: #fff;
}

.form-group.weak #passwordChecker {
  color: 	#DE0021;
  border: 2px inset 	#DE0021;
}

.form-group.weak::before{
    color: 	#DE0021;
}

.form-group.medium #passwordChecker {
  color: #D58413;
  border: 2px inset #D58413;
}

.form-group.medium::before{
    color: #D58413;
}

.form-group.strong::before{
    color: #08B40B;
}

.message.weak {
  color: 	#DE0021 !important;
}

.message.medium {
  color: #D58413 !important;
}

.form-group.strong #passwordChecker {
  color: #08B40B;
  border: 2px inset #08B40B;
}

.message.strong {
  color: #08B40B !important;
}

.form-group input:focus {
  background: #4f4b4b;
}

.message {
  margin: 7px;
}
